.hero {
    /* background-image: url("/images/Vingla_Rasmus_Steyner_Randen_Web_2-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    width: 100vw;
    height: 100vh;
    /* position: absolute;
    top: 0; */

    display: flex;
    flex-direction: row-reverse;

    & h1 {
        position: absolute;
        bottom: 50%;
        left: 5rem;
        margin: 0;
        font-size: 3.5rem;
    }

    & img {
        height: 70vh;
        margin-right: 5vh;
        align-self: center;
    }

}